.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--blue-zodiac);
  justify-content: flex-end;
  box-sizing: border-box;
}

.login-panel {
  width: 500px;
  padding: 100px 40px;
  background: var(--regal-blue);
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  color: var(--carousel-pink);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;  
  text-align: start;

  margin-right: 28px; 
}

/* LOGO */
.login-logo {
  width: 200px;
  max-width: 100%;
  margin-bottom: 40px;
}

/* TITLE */
.login-panel h2 {
  font-size: 24px;
  margin-bottom: 25px;
}

/* FORM */
.login-form {
  width: 100%;
}

.login-form label {
  font-size: 13px;
  margin-bottom: 6px;
  display: block;
  color: var(--carousel-pink);
  opacity: 0.85;
}

.login-form input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 18px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 14px;
  background: var(--lily-white);
  color: #000;
}

.login-form input::placeholder {
  color: var(--muted);
}

/* BUTTON */
.login-form button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  margin-top: clamp(20px, 4vh, 40px);
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: var(--lily-white);
  background: linear-gradient(90deg, var(--sea), var(--deep-rose));
  transition: opacity 0.3s ease;
}

.login-form button:hover {
  opacity: 0.9;
}

/* SIGN UP */
.signup {
  margin-top: 18px;
  font-size: 12px;
  opacity: 0.8;
  text-align: center;
}

.signup span {
  color: var(--carousel-pink);
  font-weight: 600;
  cursor: pointer;
}