@import url(./../../styles/colors.css);
@import url(./../../styles/error.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
    background: var(--blue-zodiac);
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    min-width: 100%;
    position:absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

/* LEFT PANEL */
.left-panel {
    width: 500px;
    min-width: 500px; 
    padding: 100px 40px;
    background: var(--regal-blue);
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    color: var(--carousel-pink);

    display: flex;
    flex-direction: column;
    justify-content: start; 
    align-items: start;     
    text-align: start;
}

.logo {
    width: 200px;
    margin-bottom: 40px;
    padding: 0;
}

.left-panel h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.form {
    width: 100%;
}

/* FORM */
.form label {
    font-size: 13px;
    opacity: 0.85;
    margin-bottom: 6px;
    display: block;
    color:var(--carousel-pink);
}

.form input {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 18px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 14px;
    color: black;
    background-color: var(--lily-white);
}

.form input::placeholder {
    color:var(--muted);
}

/* BUTTON */
.form button {
    width: 100%;
    padding: 12px;
    border-radius: 25px;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    color: var(--lily-white);
    background: linear-gradient(90deg, var(--sea), var(--deep-rose));
    transition: opacity 0.3s ease;
}

.form button:hover {
    opacity: 0.9;
}

/* SIGN IN */
.signin {
    margin-top: 18px;
    font-size: 12px;
    opacity: 0.8;
    text-align: center;
}

.signin a {
    color: var(--carousel-pink);
    font-weight: 600;
    text-decoration: none;
}

/* RIGHT PANEL */
.right-panel {
    flex: 1;
    position: relative;
    min-width: 0;
}

.box-img {
    width: 260px;
    max-width: 100%;
    position: absolute;
    left: 200px; 
    bottom: 70px; 
}

.box-animation {
    width: 260px;
    max-width: 100%;
    position: absolute;
    left: 200px; 
    bottom: 300px; 
}

.box-animation img {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0;
    animation-timing-function: ease-in-out;
}


/* slower */
.box-animation img:nth-child(1) {
    animation: showFrame 1.2s forwards;
}

.box-animation img:nth-child(2) {
    animation: showFrame 1.2s forwards ease-in-out;
    animation-delay: 1.2s;
}

.box-animation img:nth-child(3) {
    animation: showFrame 1.2s forwards ease-in-out;
    animation-delay: 2.4s;
}

.box-animation img:nth-child(4) {
    animation: showFinal 1.2s forwards;
    animation-delay: 3.6s;
}



@keyframes showFrame {
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    90%  { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes showFinal {
    from { opacity: 0; }
    to   { opacity: 1; }
}


