.header {
  width: 100%;
  height: 72px;
  background: #132440; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px;
  box-sizing: border-box;
  }
  
  .header--guest {
    justify-content: flex-end;
    background-color: #132440;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  
  .signup-text {
    color: #FFDDE9;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-btn {
    padding: 10px 26px;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #FFDDE9;
    background: linear-gradient(180deg, #CF366B 0%, #FFDDE9 100%);
  }

 
.btn.accent {
  padding: 12px 22px;
    border-radius: 999px;
    border: none;
    cursor: pointer;
    color: #FFDDE9;
    font-size: 14px;
    font-weight: 600;
    background: linear-gradient(180deg, #CF366B 0%, #FFDDE9 100%);
}

.btn.accent:hover {
  transform: translateY(-1px);
  background: linear-gradient(180deg, #91103d 0%, #fd9dbf 100%);
}

.search-box{
  position:relative;
  width:18rem;
  margin-right: 2rem;
}

.search-box input{
  width:100%;
  height:2.8rem;
  border-radius:999px;
  border:0.15rem solid #CF366B;
  background:#FFDDE9;
  font-size:1rem;
  font-weight:600;
  color:#CF366B;
  outline:none;
}

.search-box input::placeholder{
  color:#CF366B;
  opacity:0.6;
}

.search-box img{
  position:absolute;
  right:1.5rem;
  top:50%;
  transform:translateY(-50%);
  width:1.3rem;
  height:1.3rem;
  pointer-events:none;
}