.sidebar {
  width: 100px;
  height: 100%;
  background: #132440;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.sidebar__logo {
  margin-top: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  gap: 10px
}

.sidebar__logo img {
  width: 100%;
  height: auto; 
  max-width: 150px; 
  display: block;
}

/* Nav container */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 80px;
}


.sidebar-nav__item {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 18px;

  transition: background 0.2s ease, transform 0.15s ease;
}

.sidebar-nav__item img {
  width: 40px;
  height: 40px;
}

/* Hover */
.sidebar-nav__item:hover {
  background: rgba(237, 246, 255, 0.08);
}

/* Active */
.sidebar-nav__item.active {
  background: rgba(237, 246, 255, 0.16);
}

.avatar {
  margin-top: auto;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("https://i.pravatar.cc/100") center/cover;
}